#home {
  height: 600px;
  background-color: rgba(96, 96, 199, 0.767);
  -webkit-print-color-adjust: exact;
  display: inline-block;
  width: 100%;
  display: flex;
  align-items: stretch;
  padding: 100px 150px;
}

.text-home {
  color: white;
  padding: 35px 75px;
  text-align: left;
}

#home2 {
  height: 600px;
  background-color: white;
  color: rgb(37, 42, 107);
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  padding: 120px 150px;
  flex-grow: 5;
}

.text-home2 {
  text-align: left;
  margin: 70px;
}

.mobile {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .mobile {
    display: inline;
  }
}
