.dt-logo {
  height: 40px;
  position: relative;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 200px;
  z-index: 2;
  background-color: rgb(37, 42, 107);
  color: white;
}

/* .navi-item {
  color: white;
} */
